@model lab_5_ASP_MVC.Models.Flight

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Flight</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlaceDeparture)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlaceDeparture)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlaceArrival)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlaceArrival)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FlightTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FlightTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Aircraft)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Aircraft.AircraftId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FlightId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
