@model lab_5_ASP_MVC.Models.Flight

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Flight</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlaceDeparture)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlaceDeparture)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlaceArrival)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlaceArrival)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FlightTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FlightTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Aircraft)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Aircraft.AircraftId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FlightId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
